body{
    background: black;
}
.morfius{
    position: relative;
    width: 516px;
    height: 438px;
    background-image: url("../images/morpheu.jpg");
    background-repeat: no-repeat;
    margin: 5% auto;
}
.red_tablet{
    /*background: red;*/
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 65%;
    margin-left: 17%;
}
.blue_tablet{
    /*background: blue;*/
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 66%;
    margin-left: 77%;
}
.title1{
    color: green;
    width: 20%;
    margin: auto;
}
.title2{
    color: green;
    width: 70%;
}
